<section id="about-us" class="about-us">
  <div class="container">
    <div class="about-us-subtitle-text-and-button">
      <h2 class="about-us-subtitle">About Us</h2>
      <p class="about-us-text welcome-text">
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>
      <p class="about-us-text statement-piece-text">
        At our premium watch collection, we believe that a watch is more than
        just a timekeeping device – it's a statement piece that reflects your
        personality and style. So why settle for anything less than the best?
      </p>
      <a href="#catalog">
        <button class="about-us-button" type="button">View catalog</button>
      </a>
    </div>

    <picture>
      <source
        type="image/jpg"
        width="530"
        height="532"
        srcset="
          ./img/about-us-img/about-us-desk1x-min.jpg 1x,
          ./img/about-us-img/about-us-desk2x-min.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        type="image/jpg"
        width="704"
        height="512"
        srcset="
          ./img/about-us-img/about-us-tab1x-min.jpg 1x,
          ./img/about-us-img/about-us-tab2x-min.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        type="image/jpg"
        width="335"
        height="446"
        srcset="
          ./img/about-us-img/about-us-mob1x-min.jpg 1x,
          ./img/about-us-img/about-us-mob2x-min.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./img/about-us-img/about-us-desk1x-min.jpg"
        alt="a wristwatch lying on a fabric cover"
        width="530"
        height="532"
      />
    </picture>
  </div>
</section>
