<header id="home" class="page-header">
  <div class="container header-container">
    <div class="header-logo">
      <a class="header-logo-link" href="/index.html">watchcharm</a>
    </div>

    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#catalog">Catalog</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#sale">Sale</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>

    <div class="wrap-social">
      <ul class="header-list-social">
        <li class="header-item-social">
          <a
            class="header-link-social"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="header-icon" width="20" height="20">
              <use href="./img/icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-item-social">
          <a
            class="header-link-social"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="header-icon" width="20" height="20">
              <use href="./img/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-item-social">
          <a
            class="header-link-social"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="header-icon" width="20" height="20">
              <use href="./img/icons/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button type="button" class="burger-btn" data-menu-open>
      <svg class="burger-icon" width="34" height="34">
        <use href="./img/icons/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <svg width="100%" height="2" class="line-header">
    <line
      x1="0"
      y1="1"
      x2="100%"
      y2="1"
      stroke="rgba(12, 12, 12, 0.1)"
      stroke-width="1"
    />
  </svg>

  <!-- memu -->

  <div class="header-menu" data-menu>
    <button type="button" class="menu-btn-close" data-menu-close>
      <svg class="menu-btn-icon" width="20" height="20">
        <use href="./img/icons/icons.svg#icon-Group-2"></use>
      </svg>
    </button>

    <nav>
      <ul class="nav-menu">
        <li class="nav-menu-item home">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-link" href="#about-us">About Us</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-link" href="#catalog">Catalog</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-link" href="#sale">Sale</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-link" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>

    <ul class="social-menu">
      <li class="social-item">
        <a class="social-link" href="https://www.facebook.com/goITclub/">
          <svg class="social-icon" width="18" height="18">
            <use href="./img/icons/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="social-link" href="https://www.instagram.com/goitclub/">
          <svg class="social-icon" width="18" height="18">
            <use href="./img/icons/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="social-link" href="https://www.youtube.com/c/GoIT">
          <svg class="social-icon" width="18" height="18">
            <use href="./img/icons/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
