<header class="page-header">
  <div class="container header-container">
    <div class="header-logo">
      <a class="header-logo-link" href="/index.html">watchcharm</a>
    </div>

    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="">Catalog</a></li>
        <li class="nav-item"><a class="nav-link" href="">Sale</a></li>
        <li class="nav-item"><a class="nav-link" href="">Reviews</a></li>
        <li class="nav-item"><a class="nav-link" href="">Contact Us</a></li>
      </ul>
    </nav>

    <div class="wrap-social">
      <ul class="header-list-social">
        <li class="header-item-social">
          <a
            class="header-link-social"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="header-icon" width="20" height="20">
              <use href="./img/icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-item-social">
          <a
            class="header-link-social"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="header-icon" width="20" height="20">
              <use href="./img/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-item-social">
          <a
            class="header-link-social"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="header-icon" width="20" height="20">
              <use href="./img/icons/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button type="burger-btn" class="burger-btn">
      <svg class="burger-icon" width="34" height="34">
        <use href="../img/icons/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <svg width="100%" height="2" class="line-header">
    <line
      x1="0"
      y1="1"
      x2="100%"
      y2="1"
      stroke="rgba(12, 12, 12, 0.1)"
      stroke-width="1"
    />
  </svg>

  <!-- memu -->

  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu-container">
      <button class="mobile-menu-close" data-menu-close type="button">
        <svg class="modal-button-icons" width="8" height="8">
          <use href="../img/icons/icons.svg#icon-Group-2"></use>
        </svg>
      </button>

      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="">Home</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="">About Us</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="">Catalog</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="">Sale</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="">Reviews</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="">Contact Us</a>
          </li>
        </ul>
      </nav>
      <div class="wrap-social">
        <ul class="header-list-social">
          <li class="header-item-social">
            <a
              class="header-link-social"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="header-icon" width="20" height="20">
                <use href="./img/icons/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="header-item-social">
            <a
              class="header-link-social"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="header-icon" width="20" height="20">
                <use href="./img/icons/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-item-social">
            <a
              class="header-link-social"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="header-icon" width="20" height="20">
                <use href="./img/icons/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <div class="menu-container mobile-menu">
    <div class="modal-overlay">
      <div class="mobile-menu-container">
        <button class="mobile-menu-close" type="button">
          <svg class="modal-button-icons" width="34" height="34">
            <use href="../img/icons/icons.svg#icon-Group-2s"></use>
          </svg>
        </button>
        <div>
          <nav class="nav-menu">
            <ul class="nav-menu-list">
              <li class="nav-item"><a class="nav-link" href=""></a>Home</li>
              <li class="nav-item"><a class="nav-link" href=""></a>About Us</li>
              <li class="nav-item"><a class="nav-link" href=""></a>Catalog</li>
              <li class="nav-item"><a class="nav-link" href=""></a>Sale</li>
              <li class="nav-item"><a class="nav-link" href=""></a>Reviews</li>
              <li class="nav-item">
                <a class="nav-link" href=""></a>Contact Us
              </li>
            </ul>
          </nav>
        </div>

        <ul class="social-menu">
          <li class="sicial-item">
            <a class="social-link" href="">
              <svg class="social-icon" width="34" height="34">
                <use href="./img/icons/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li class="sicial-item">
            <a class="social-link" href="">
              <svg class="social-icon" width="34" height="34">
                <use href="./img/icons/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li class="sicial-item">
            <a class="social-link" href="">
              <svg class="social-icon" width="34" height="34">
                <use href="./img/icons/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
</header>
