<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-content">
        <h1 class="hero-title">
          Welcome to our <span class="accent">collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-actions">
        <ul class="hero-list">
          <li class="hero-item">
            <picture>
              <!-- Мобільна версія -->
              <source
                media="(max-width: 767px)"
                srcset="
                  img/hero/avatar-1-mobile.png    1x,
                  img/hero/avatar-1-mobile@2x.png 2x
                "
              />
              <!-- Планшетна версія -->
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  img/hero/avatar-1-tablet.png    1x,
                  img/hero/avatar-1-tablet@2x.png 2x
                "
              />
              <!-- Десктопна версія -->
              <source
                media="(min-width: 1280px)"
                srcset="img/hero/avatar-1.png 1x, img/hero/avatar-1@2x.png 2x"
              />
              <!-- Запасне зображення -->
              <img
                class="hero-avatar"
                src="img/hero/avatar-1.png"
                alt="Avatar 1"
              />
            </picture>
          </li>
          <li class="hero-item">
            <picture>
              <!-- Мобільна версія -->
              <source
                media="(max-width: 767px)"
                srcset="
                  img/hero/avatar-2-mobile.png    1x,
                  img/hero/avatar-2-mobile@2x.png 2x
                "
              />
              <!-- Планшетна версія -->
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  img/hero/avatar-2-tablet.png    1x,
                  img/hero/avatar-2-tablet@2x.png 2x
                "
              />
              <!-- Десктопна версія -->
              <source
                media="(min-width: 1280px)"
                srcset="img/hero/avatar-2.png 1x, img/hero/avatar-2@2x.png 2x"
              />
              <!-- Запасне зображення -->
              <img
                class="hero-avatar"
                src="img/hero/avatar-2.png"
                alt="Avatar 2"
              />
            </picture>
          </li>
          <li class="hero-item">
            <picture>
              <!-- Мобільна версія -->
              <source
                media="(max-width: 767px)"
                srcset="
                  img/hero/avatar-3-mobile.png    1x,
                  img/hero/avatar-3-mobile@2x.png 2x
                "
              />
              <!-- Планшетна версія -->
              <source
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="
                  img/hero/avatar-3-tablet.png    1x,
                  img/hero/avatar-3-tablet@2x.png 2x
                "
              />
              <!-- Десктопна версія -->
              <source
                media="(min-width: 1280px)"
                srcset="img/hero/avatar-3.png 1x, img/hero/avatar-3@2x.png 2x"
              />
              <!-- Запасне зображення -->
              <img
                class="hero-avatar"
                src="img/hero/avatar-3.png"
                alt="Avatar 3"
              />
            </picture>
          </li>
        </ul>
        <a href="#footer" class="hero-link">Scroll down</a>
      </div>
    </div>
    <div class="hero-image">
      <picture>
        <!-- Мобільна версія -->
        <source
          media="(max-width: 767px)"
          srcset="
            img/hero/hero-watch-mobile.png    1x,
            img/hero/hero-watch-mobile@2x.png 2x
          "
        />
        <!-- Планшетна версія -->
        <source
          media="(min-width: 768px) and (max-width: 1279px)"
          srcset="
            img/hero/hero-watch-tablet.png    1x,
            img/hero/hero-watch-tablet@2x.png 2x
          "
        />
        <!-- Десктопна версія -->
        <source
          media="(min-width: 1280px)"
          srcset="
            img/hero/hero-watch-desktop.png    1x,
            img/hero/hero-watch-desktop@2x.png 2x
          "
        />
        <!-- Запасне зображення -->
        <img src="img/hero/hero-watch-desktop.png" alt="Premium Watch" />
      </picture>
    </div>
  </div>
</section>
