<section id="sale" class="sale-section">
  <div class="container sale-container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-wrap">
      <div class="sale-watches-wrap">
        <ul class="sale-list">
          <li class="sale-item-smole">
            <img
              srcset="
                ./img/sale-images/watch-1-min.png    1x,
                ./img/sale-images/watch-1@2x-min.png 2x
              "
              src="../img/sale-images/watch-1-min.png"
              alt="watch"
              width="96"
              height="100"
            />
          </li>
          <li class="sale-item-smole">
            <img
              srcset="
                ./img/sale-images/watch-2-min.png 1x,
                ./img/sale-images/watch-2-min.png 2x
              "
              src="./img/sale-images/watch-2-min.png"
              alt="watch"
              width="96"
              height="100"
            />
          </li>
          <li class="sale-item-smole">
            <img
              srcset="
                ./img/sale-images/watch-3-min.png 1x,
                ./img/sale-images/watch-3-min.png 2x
              "
              src="./img/sale-images/watch-3-min.png"
              alt="watch"
              width="96"
              height="100"
            />
          </li>
          <li class="sale-item-smole">
            <img
              srcset="
                ./img/sale-images/watch-4-min.png 1x,
                ./img/sale-images/watch-4-min.png 2x
              "
              src="../img/sale-images/watch-4-min.png"
              alt="watch"
              width="96"
              height="100"
            />
          </li>
        </ul>
        <div class="sale-item-big">
          <img
            srcset="
              ./img/sale-images/watch-5-min.png 1x,
              ./img/sale-images/watch-5-min.png 2x
            "
            src="../img/sale-images/watch-5-min.png"
            alt="watch"
            width="328"
          />
        </div>
      </div>
      <div class="sale-edition-wrap">
        <div class="sale-edition-wrap-one">
          <h3 class="sale-edition-subtitle">
            MARQ® Commander (Gen 2) - Carbon Edition
          </h3>
          <p class="sale-number">Product tag: 706587</p>
        </div>
        <div class="sale-edition-wrap-two">
          <span class="sale-discount">€1500</span>
          <p class="sale-price">€3000</p>
        </div>
        <p class="sale-advertisment-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-specs-list">
          <li class="sale-spec">
            <span class="spec-text"> Fused carbon fiber </span>
          </li>
          <li class="sale-spec">
            <span class="spec-text"> Grade-5 Titanuim </span>
          </li>
          <li class="sale-spec">
            <span class="spec-text"> Athlete </span>
          </li>
          <li class="sale-spec">
            <span class="spec-text">Golfer</span>
          </li>
          <li class="sale-spec">
            <span class="spec-text"> Commander </span>
          </li>
          <li class="sale-spec">
            <span class="spec-text"> Adventurer </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
