<section class="sale-section">
  <div class="container sale-container">
    <h2 class="sale-subtitle">Sale</h2>
    <ul class="sale-list">
      <li class="sale-item-smole">
        <img srcset=" ./img/sale-images/watch1-min.jpg 1x,
        ./img/sale-images/watch1@2x.jpg 2x "
        src="./img/sale-images/watch1-min.jpg 1x" alt="watch" width:"96"
        height:"100" />
      </li>
      <li class="sale-item-smole">
        <img srcset=" ./img/sale-images/watch2-min.jpg 1x,
        ./img/sale-images/watch2@2x.jpg 1x "
        src="./img/sale-images/watch2-min.jpg 1x" alt="watch" width:"96"
        height:"100" />
      </li>
      <li class="sale-item-smole">
        <img srcset=" ./img/sale-images/watch3-min.jpg 1x,
        ./img/sale-images/watch3@2-min.jpg 1x "
        src="./img/sale-images/watch3-min.jpg 1x" alt="watch" width: "96"
        height:"100" />
      </li>
      <li class="sale-item-smole">
        <img srcset=" ./img/sale-images/watch4-min.jpg 1x,
        ./img/sale-images/watch4@2-min.jpg 1x "
        src="./img/sale-images/watch4-min.jpg 1x" alt="watch" width:"96"
        height:"100" />
      </li>
      <li class="sale-item-smole">
        <img srcset=" ./img/sale-images/watch5-min.jpg 1x,
        ./img/sale-images/watch5@2-min.jpg 1x "
        src="./img/sale-images/watch5-min.jpg 1x" alt="watch" width:"96"
        height:"100" />
      </li>
    </ul>
    <div class="sale-item-big">
      <img srcset=" ./img/sale-images/watch5-min.jpg 1x,
      ./img/sale-images/watch5@2-min.jpg 1x "
      src="./img/sale-images/watch5-min.jpg 1x" alt="watch" width:"328"
    </div>
    <h2 class="sale-edition-subtitle">
      MARQ® Commander (Gen 2) - Carbon Edition
    </h2>
    <p class="sale-edition-subtitle-one">Product tag: 706587</p>
    <button class="sale-edition-btn" type="button">€1500</button>
    <p class="sale-micro-text"></p>
    <p class="advertisment-text">
      The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
      adventurers that takes materials and features to the next level. The body
      of the watch is made of very durable Fused Carbon Fiber material and has a
      precise AMOLED touch screen. The sensitive touch screen is complemented by
      buttons that can be used in any conditions.
    </p>
    <ul>
      <li>
        <button class="advertisment-button-fiber">Fused carbon fiber</button>
      </li>
      <li>
        <button class="advertisment-button-grade">Grade-5 Titanuim</button>
      </li>
      <li><button class="advertisment-button-athlete">Athlete</button></li>
      <li><button class="advertisment-button-golfer">Golfer</button></li>
      <li><button class="advertisment-button-commander">Commander</button></li>
      <li>
        <button class="advertisment-button-adventurer">Adventurer</button>
      </li>
    </ul>
  </div>
</section>
