.catalog-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
  text-align: left;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-title-watch {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-self: center;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 28px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  box-sizing: border-box;
  border-top: none;
  text-align: left;
  width: 100%;
}

.price-catalog {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

/* mobile-hidden default */
.mobile-hidden {
  display: none;
}

.catalog-button {
  font: 500 14px / 1.28571 'Gilroy', sans-serif;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  display: block;
  margin: 40px auto 0;
  padding: 15px 44px;
  background-color: #3350e9;
  border: none;
}

.catalog-title {
  margin-bottom: 24px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .catalog-list {
    gap: 32px 16px;
  }

  .catalog-item .catalog-title-watch {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .catalog-title-watch {
    font-size: 20px;
  }

  .catalog-item {
    width: calc((100% - 16px) / 2);
    width: 344px;
    height: 414px;
  }

  .img-catalog {
    min-width: 280px;
  }

  .catalog-button {
    display: none;
  }

  .mobile-hidden {
    display: block;
  }

  .catalog-title {
    margin-bottom: 40px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .catalog-list {
    gap: 32px 23px;
  }

  .catalog-item {
    width: calc((100% - 46px) / 3);
    width: 368px;
    height: 414px;
  }

  .img-catalog {
    min-width: 292px;
  }
}
